<div>
    <a href="/">
    <img src="/fabheads-logo-with-R-transparent-blue.png" alt="" class="logo"></a>
    <a class="link left_up" href="/">Home</a>
</div>
<!-- <span id="span" class="link left_up3"></span>
<script>
var span = document.getElementById('span');

function time() {
    var d = new Date();
    var s = d.getSeconds();
    var m = d.getMinutes();
    var h = d.getHours();
    var date = d.getDate();
    var day = d.getDay();
    span.textContent = 
    ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
}

setInterval(time, 1000);

</script> -->
